<header class="header">
  <a href="/" class="header__logo">BLOGS</a>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>
        <li>
          <a href="/about" class="">About</a>
        </li>
        <li>
          <%if(!currentUser){%>
          <a href="/register" class="">Register</a> 
          <a href="/admin" class="">Login</a> 
          <%}else{%>
          <a href="/dashboard" class="">Profile</a> 
          <%}%>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <%if(currentUser){%>
      <a href="/logout">
        Logout
      </a>
      <%}%>
    </div>
  
  </header>
