<h2><%= data.title %></h2>
<p>Author - <%=data.author.username%></p>
<img src="<%= data.image %>" alt="Post Image" style="width:100%; max-width:600px;">
<article class="article"><%= data.body %></article>
